[flake8]
select =
    B,   # flake8-bugbear
    B9,  # flake8-bugbear opinionated
    C,   # complexity?
    E,   # pycodestyle errors
    F,   # pyflakes
    I,   # isort
    N,   # pep8-naming
    UP,  # pyupgrade
    W,   # pycodestyle warnings
ignore = E501, W503
max-line-length = 99
max-complexity = 10
